.full{
    margin-right: 15%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: 2fr 4fr;
    border-style: solid;

}

.left{
    position: initial;
    background-color: rgb(204, 153, 255);
    padding: 20px;
}

.right{
    position: initial;
    background-color: rgb(229, 204, 255);
    padding: 20px;
}

.about{
    line-height: 35%;
    font-family:"monaco", monospace ;
}



